
<!-- Toolbar -->
 <div class="content" role="main" style="overflow:hidden">

  <ng-container *ngIf="channel" >
    <div class="headline">
    <a class="text-center details" style="float:left" >User : {{username}}</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="text-center details" style="float:right" >Group :  {{groupId}}</a>

   </div>
        <!-- <div class="inbox_people">
          <div class="headind_srch">
            <div class="channel_heading">
              <h4>Channels</h4>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="channels" *ngFor="let channel of channelList">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_ib">
                    <h5>
                      {{ channel.data.name }}
                    </h5>
                    <p>
                      {{
                        channel.state.messages[
                          channel.state.messages.length - 1
                        ].text 
                       }} 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="mesgs">
          <div class="msg_history d-flex flex-column" id="messagebox">
            <ng-container class="message" *ngFor="let message of messages">
              <div
                *ngIf="
                  message.user.id !== currentUser.me.id;
                  then incoming_msg;
                  else outgoing_msg
                "
              ></div>
              <ng-template #incoming_msg>
                  <!-- <div class="incoming_msg_img">
                    <p style="color: beige;font-size: 15px;
                    letter-spacing: 1px;">{{ message.user.id}}</p>
                  </div>
                  <div class="received_msg" style="padding-top: 20px;
                  padding-left: 0px;
                  margin-left: -23px;">
                    <div class="received_withd_msg">
                      <p>{{ message.text }}</p>
                    </div>
                  </div> -->
                  <div class="align-self-start  p-1 my-1 mx-1 rounded bg-white shadow-sm message-item">
                      <div class="small font-weight-bold text-primary">
                          {{ message.user.id}}
                        </div>
                      <div class="d-flex flex-row">
                        <div class="body m-1 mr-2">{{message.text}}</div>
                        <div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:40px;">
                            {{ message.created_at | timesplit}}
                          </div>
                      </div>
                    </div>
              </ng-template>
              <ng-template #outgoing_msg>
                  <div class="align-self-end self p-1 my-1 mx-1 rounded bg-white shadow-sm message-item">
                      <div class="d-flex flex-row">
                        <div class="body m-1 mr-2">{{message.text}}</div>
                        <div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:40px;">
                            {{ message.created_at | timesplit}}
                          </div>
                      </div>
                    </div>
                <!-- <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{ message.text }}</p>
                  </div>
                </div> -->
              </ng-template>
            </ng-container>
          </div>
          <div class="type_msg">
            <form class="input_msg_write" (ngSubmit)="sendMessage1()">
              <input
                type="text"
                class="write_msg"
                placeholder="Type a message"
                name="newMessage"
                [(ngModel)]="newMessage"
                autocomplete="off"
              />
            
             <button class="msg_send_btn" type="submit">
                 <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
  </ng-container>
</div>
